<section class="landing-view">

	<div class="row">

		<h1>Lance Harman - Web Developer</h1>

		<div class="clear"></div>

		<div class="interests animated bounceIn delayed">
			
			<h2>Recent Interests</h2>
			<p>
				I&#39;m always exploring something new, here&#39;s the latest:
			</p>

			<ul>
				<li>
					- Some light Bash Scripting and Tools.
				</li>

				<li>
					- Phaser.js - Javascript Game Framework
				</li>

			</ul>

		</div>

		<i class="fa fa-arrow-circle-o-down animated rollIn extra-delayed" onclick="Site.nextSection(this)"></i>

	</div>

</section>

<section class="sub-section">
	<div class="clear"></div>

	<div class="row">
		<h2>Proficiencies</h2>

		<div class="columns text-left">
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">

				<li>
					<h3><i class="fa fa-code"></i> Basics</h3>
					<ul>
						<li>
							HTML5
						</li>
						<li>
							CSS3 - new features are still being added all the time
						</li>
						<li>
							Responsive Design - Websites that are built for all devices
						</li>
						<li>
							DNS - Working knowledge of registrars, nameservers, and records
						</li>
					</ul>
				</li>

				<li>
					<h3><i class="fa fa-cogs"></i> Javascript</h3>
					<ul>
						<li>
							jQuery - The go-to JS library
						</li>
						<li>
							AngularJS - A great framework by Google
						</li>
						<li>
							Firebase - a neat JS backend, great for quick prototyping
						</li>
						<li>
							Typescript - strongly typed, compiles down to JS
						</li>
					</ul>
				</li>

				<li>
					<h3><i class="fa fa-puzzle-piece"></i> Frameworking</h3>
					<ul>
						<li>
							AngularJS - A great framework by Google
						</li>
						<li>
							Foundation - Responsive HTML frameworks make the world easier
						</li>
						<li>
							PHPTAL - PHP Template Attribute Language
						</li>
					</ul>
				</li>

				<li>
					<h3><i class="fa fa-flask"></i> Other</h3>
					<ul>
						<li>
							Photoshop - The go-to for image manipulation and design
						</li>
						<li>
							Sass - CSS made awesome
						</li>
						<li>
							Taskrunners - automate the tedious parts of development and increase efficiency
						</li>
					</ul>
				</li>


			</ul>
		</div>		
	</div>



</section>