<section class="row portfolio">

	<h1>Select Works</h1>

	<ul class="small-block-grid-1 medium-block-grid-2 animated bounceIn delayed">
		<li>
			<a href="http://www.tavernandtap.com/" target="_blank">
				<img src="images/portfolio/tav-tap.jpg" alt="Tavern and Tap Website" />
			</a>
		</li>
		<li>
			<a href="https://www.fountainofyouthsalonspa.com/" target="_blank">
				<img src="images/portfolio/foya.jpg" alt="Fountain of Youth Website" />
			</a>
		</li>
		<li>
			<a href="http://661870.demo.yac-web.com/" target="_blank">
				<img src="images/portfolio/mco.jpg" alt="The M Company Website" />
			</a>
		</li>
		<li>
			<a href="http://661791.yac-web.com/" target="_blank">
				<img src="images/portfolio/red-hen.jpg" alt="The Red Hen Website" />
			</a>
		</li>
	</ul>

</section>